body {
  font-family: "Roboto Mono", monospace;
  min-height: 500px;
  background-image: url("https://rare-gallery.com/mocahbig/39451-InfinityArtistic-Space-4k-Ultra-HD-Wallpaper.jpg");
  background-color: #111111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  font-size: 48px;
  margin: 0 0 5px;
}

.page-subtitle {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

.container input {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #808080;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

button {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-top: 16px;
  padding: 5px 25px;
  background: #1f1f1f;
  color: #ffffff;
}

button:hover {
  background: #2f2f2f;
  padding: 5px 28px;
}

.resultado {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px 50px;
  color: #ffffff;
  position: absolute;
  top: 74%;
  left: 50%;
  margin-right: -45%;
  transform: translate(-50%, -50%);
}

.res {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 0px 40px 12px 40px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -45%;
  transform: translate(-50%, -50%);
}

.res input {
  width: 16px;
  margin-top: 12px;
}

.res label {
  white-space: nowrap;
}

.color {
  color: #cc2a40;
}